/* Enter your custom styles here */
.statusCreated { color: black !important; }
.statusReleased { color: red !important;}
.statusPartiallyCompleted { color: blue !important;  }
.statusDelivered { color: green !important; background-color: aqua; }